body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('./image/telaFundo.jpg');
  background-size: 100% 100%; /* <- deixa a imagem "achatável" */
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.titulo {
  position: absolute;
  top: 23%; /* ajuste esse valor para alinhar com o topo do quadro bege */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}